# Maven
# Build your Java project and run tests with Apache Maven.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/java

trigger:
- main

strategy:
  matrix:
    jdk8: 
      jdkVersion: "1.8"
    jdk11:
      jdkVersion: "1.11"
    jdk17:
      jdkVersion: "1.17"
  
pool:
  vmImage: "linux-latest"

steps:
- task: Maven@3
  inputs:
    mavenPomFile: "pom.xml"
    mavenOptions: "-Xmx3072m"
    javaHomeOption: "JDKVersion"
    jdkVersionOption: $(jdkVersion)
    jdkArchitectureOption: "x64"
    publishJUnitResults: true
    testResultsFiles: "**/surefire-reports/TEST-*.xml"
    goals: "package"

# - task: PublishCodeCoverageResults@1
#   inputs:
#     codeCoverageTool: "JaCoCo"
#     summaryFileLocation: "$(System.DefaultWorkingDirectory)/**/state/jacoco/jacoco.xml"
#     reportDirectory: "$(System.DefaultWorkingDirectory)/**/state/jacoco"
#     failIfCoverageEmpty: true